# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Secrets
*.env
.env
secrets.plist
GoogleService-Info.plist

# IDE
.vscode/
.idea/
*.xcworkspace/xcuserdata/

# Archive
*.ipa
*.dSYM.zip
*.dSYM
